.michelis-e-top-categories-down-component {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;

    img {
        display: block;
        margin: 0 auto;
        max-width: 500px;
    }
}