{% block michelis_e_landing_slider %}
    <div class="michelis-e-landing-slider">
        {% block michelis_e_landing_slider_img %}
            <div class="michelis-e-landing-slider__image-box">
                <img class="michelis-e-landing-slider__image" :src="imgSrc">
            </div>
        {% endblock %}
    </div>
{% endblock %}
