.bpa-qcf-form-e-preview {
    .headline {
        margin-bottom: 10px;
        border-bottom: 1px solid #d1d9e0;
        padding-bottom: 5px;
        font-size: 12px;
    }

    .input {
        margin-bottom: 5px;
        height: 1em;
        border-radius: 4px;
        border: 1px solid #d1d9e0;
    }

    .button {
        float: right;
        padding: 0 10px;
        background: #d1d9e0;
        color: #52667a;
        text-align: center;
        font-size: 12px;
        line-height: 26px;
        border-radius: 3px;
    }
}
