{% block sw_cms_block_michelis_top_categories_down_component %}
    <div class="sw-cms-block-michelis-top-categories-down-component">

        <div class="sw-cms-block-michelis-top-categories-down-slots">
            <div class="sw-cms-block-michelis-top-categories-down-first">
                <slot name="topCategoriesDownFirst"></slot>
            </div>

            <div class="sw-cms-block-michelis-top-categories-down-second">
                <slot name="topCategoriesDownSecond"></slot>
            </div>
        </div>

   </div>
{% endblock %}
