{% block cms_bpa_qcf_form_e_config %}
    <div class="bpa-qcf-form-e-config">
        <sw-alert
            class="bpa-qcf-form-e-config-hint"
            variant="info">
            {{ $tc('bpa-qcf-admin.cms.elements.bpa-qcf-form-e.noConfig') }}
        </sw-alert>
    </div>
{% endblock %}
