{% block cms_block_michelis_title %}
    {% set element = block.slots.getSlot('title') %}
    
    <div class="col-12 cms-block-michelis-title" data-cms-element-id="{{ element.id }}">
        {% block cms_block_michelis_title_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
