{% block sw_cms_block_michelis_four_blocks_component %}
    <div class="sw-cms-block-michelis-four-blocks">

        <div class="sw-cms-block-michelis-four-blocks-slot-feeds">
            <div class="sw-cms-block-michelis-four-blocks-slot-feed">
                <slot name="slotFirst"></slot>
            </div>

            <div class="sw-cms-block-michelis-four-blocks-slot-feed">
                <slot name="slotSecond"></slot>
            </div>

            <div class="sw-cms-block-michelis-four-blocks-slot-feed">
                <slot name="slotThird"></slot>
            </div>

            <div class="sw-cms-block-michelis-four-blocks-slot-feed">
                <slot name="slotFourth"></slot>
            </div>
        </div>
    </div>
{% endblock %}
