{% block michelis_button_preview %}
    <div class="michelis-button-preview">
        <span class="michelis-button-preview-button">{{ $tc('michelis.cms.blocks.michelis-button.labelPreview') }}</span>
    </div>
{% endblock %}
