{% block michelis_e_title_config %}
    <div class="michelis-e-title-config">
        <sw-field v-model="element.config.title.value"
                  class="michelis-e-title-config-title"
                  type="text"
                  label="Title"
                  placeholder="Title...">
        </sw-field>
    </div>
{% endblock %}
