{% block cms_bpa_qcf_form_e_component %}
    <div class="bpa-qcf-form-e-component">
        <h4 class="headline">{{ $tc('bpa-qcf-admin.cms.elements.bpa-qcf-form-e.label') }}</h4>

        <div class="input-group">
            <div class="input">{{ $tc('bpa-qcf-admin.cms.elements.bpa-qcf-form-e.excavatorManufacturer') }}</div>
            <div class="input">{{ $tc('bpa-qcf-admin.cms.elements.bpa-qcf-form-e.excavatorType') }}</div>
        </div>

        <div class="button">{{ $tc('bpa-qcf-admin.cms.elements.bpa-qcf-form-e.searchBtn') }}</div>
    </div>
{% endblock %}
