{% block new_plugin_example %}

    <sw-page class="new-plugin-view-example-page">

        <template #search-bar>
            <sw-search-bar>
            </sw-search-bar>
        </template>

        <template #smart-bar-header>
            <h2>
                {% block new_plugin_view_example_smart_bar_header_title_text %}
                     Table
                {% endblock %}

                {% block new_plugin_view_example_list_smart_bar_header_amount %}
                    <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                        ({{ total }})
                    </span>
                {% endblock %}
            </h2>
        </template>

        <template #content>
            {% block new_plugin_view_example_list_content %}
                <sw-entity-listing
                        v-if="itemsCollection"
                        :items="itemsCollection"
                        :repository="aNewPluginItemRepository"
                        :showSelection="true"
                        :columns="columns">
                </sw-entity-listing>
            {% endblock %}

            {% block new_plugin_view_example_list_empty_state %}
                <sw-empty-state v-if="!isLoading && !total">Empty</sw-empty-state>
            {% endblock %}
        </template>

    </sw-page>

{% endblock %}