{% block sw_cms_block_three_text %}
    <div class="sw-cms-block-michelis-three-text">
        <div>
            <slot name="upText"></slot>
        </div>
        <div>
            <slot name="leftText"></slot>
            <slot name="rightText"></slot>
        </div>
    </div>
{% endblock %}
