{% block michelis_e_banner_box_preview %}
    <div class="michelis-e-banner-box-preview">
        <div class="row-one">
            <span class="banner block"></span>
            <span class="banner block"></span>
            <span class="banner block"></span>
        </div>
        
        <div class="row-two">
            <span class="banner block"></span>
            <span class="banner block"></span>
            <span class="banner block"></span>
        </div>
    </div>
{% endblock %}
