{% block sw_cms_block_three_text_preview %}

    <div class="sw-cms-preview-three-text">
        <div class="text-first-block">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua.
            </p>
        </div>

        <div>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy.
            </p>
        </div>

        <div>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy.
            </p>
        </div>

    </div>
{% endblock %}
