{% block michelis_top_categories_down_preview %}
    <div class="michelis-top-categories-down-preview">
        <div class="row-one">
            <div class="row-one-big-block">
                <span class="bigBanner bigBlock"></span>
            </div>
            <span class="banner block"></span>
            <span class="banner block"></span>
        </div>

        <div class="row-two">
            <span class="banner block"></span>
            <span class="banner block"></span>
            <div class="row-two-big-block">
                <span class="bigBannerSecond bigBlockSecond"></span>
            </div>
        </div>
    </div>
{% endblock %}