.michelis-e-button-preview {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20%;

  &-button {
    min-width: 70px;
    min-height: 35px;
    border-radius: 5px;
    border: 1px solid #9c9c9c;
    text-align: center;
    line-height: 30px;
    padding: 5px 20px;
    background-color: #acd443;
  }
}
