{% block sw_cms_element_michelis_e_image %}
    <div class="sw-cms-michelis-e-image">
        {% block sw_cms_element_michelis_e_image_content %}
            <img :src="mediaUrl">
        {% endblock %}
    </div>
{% endblock %}
