{% block michelis_button_component %}
    <div class="sw-cms-block-michelis-button">
        <div class="michelis-button-slot-button">
            <slot name="button"></slot>
        </div>
    </div>
{% endblock %}
