{% block michelis_e_one_banner_preview %}
    <div class="michelis-e-one-banner-preview">
        <div class="rowBanner">
            <span class="banner block"></span>
        </div>
    </div>
{% endblock %}
