{% block sw_cms_block_michelis_img_text_block_preview %}
    <div class="sw-cms-block-michelis-img-text-block-preview">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <div>
            <h2>Lorem ipsum dolor</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <span class="michelis-button-preview-button">{{ $tc('michelis.cms.blocks.michelis-button.labelPreview') }}</span>
        </div>
    </div>
{% endblock %}
