{% block michelis_e_slider %}
    <div class="michelis-e-slider">
        {% block michelis_e_slider_img %}
            <div class="michelis-e-slider__image-box">
                <img class="michelis-e-slider__image" :src="imgSrc">
            </div>
        {% endblock %}
    </div>
{% endblock %}
