{% block cms_bpa_qcf_form_preview %}
    <div class="bpa-qcf-form-preview">
        <h4 class="headline">{{ $tc('bpa-qcf-admin.cms.blocks.bpa-qcf-form.label') }}</h4>

        <div class="input"></div>
        <div class="input"></div>

        <div class="button">{{ $tc('bpa-qcf-admin.cms.blocks.bpa-qcf-form.searchBtn') }}</div>
    </div>
{% endblock %}
