{% block michelis_double_banner_preview %}
    <div class="michelis-double-banner-preview">
        <div class="michelis-row">
            <span class="banner block"></span>
            <span class="banner block"></span>
        </div>
    </div>
{% endblock %}
