{% block sw_cms_block_michelis_img_button_preview %}
    <div class="sw-cms-michelis-img-button-preview">
        <div>
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        </div>
        <div class="michelis-img-button-block-btn">
            <span class="michelis-button-preview-button">{{ $tc('michelis.cms.blocks.michelis-button.labelPreview') }}</span>
        </div>
    </div>
{% endblock %}
