{% block sw_cms_block_wbp_text_image_block_component %}
    <div class="sw-cms-block-wbp-text-image-block">

        <slot name="slotFirst">
            {% block sw_cms_block_text_left %}{% endblock %}
        </slot>

        <slot name="slotSecond">
            {% block sw_cms_block_img_right %}{% endblock %}
        </slot>

    </div>
{% endblock %}
