{% block sw_cms_block_michelis_title_component %}
    <div class="sw-cms-block-michelis-title">
        <div class="sw-cms-block-michelis-title-slot-title">
            <slot name="title"></slot>
        </div>
    </div>
{% endblock %}
